<html>
<head>
	<meta charset="UTF-8">
	<title>Sing a Song</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='lyrics.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    {# Axios #}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	
	<div class="container ">
		<div class="bg-light">
			<h1 class='text-center'>The task is simple:</h1>
			<p class='text-center'> You should sing a song and it's good - the magic 
			counter will be incremented and you'll receive a special gift ^^<p>
		</div>

		<div class="bg-light">
			<div class="d-flex justify-content-around">
				<img class='santa' src="http://pngimg.com/uploads/santa_claus/santa_claus_PNG38508.png" alt="">
				<pre class='text-center'>No more champagne
And the fireworks are through
Here we are, me and you
Feeling lost and feeling blue
It's the end of the party
And the morning seems so grey
So unlike yesterday
Now's the time for us to say</pre>
			</div>
			<p class="text-center">
				<button class="btn btn-primary start">Start</button>
				<button class="btn btn-danger restart">Restart</button>
			</p>
			<audio src='{{ url_for("static", filename="song.mp3") }}' controls=""></audio>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>